/* Body and variables */
:root {
    --main-color: rgb(36, 166, 218);
    --gray-text: rgb(31, 31, 31);
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: clip;
    margin: 0;
    width: 100vw;
}


/* Header styling */
header {
    padding: 50px;
    background-image: linear-gradient(168deg,var(--main-color) 0%, var(--main-color) 60.5%, rgba(255, 255, 255, 1) 61%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
}

.header-wrapper {
    position: relative;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: block;
    max-width: 550px;
    height: auto;
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
}

.profile-name {
    position: absolute;
    bottom: 0;
    left: 7%;
    margin: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.about-wrapper {
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
    padding: 30px;
    background-color: white;
}

.about-title {
    font-size: 40px;
    margin-top: 0;
}

.about-text {
    font-size: 20px;
    color: var(--gray-text);
    margin-bottom: 40px;
}

.about-icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}


/* Main Styling */
main {
    max-width: 1200px;
    margin: auto;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    max-width: 380px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49);
    flex-grow: 1;
}

.project-screenshot {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.card-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.project-description {
    padding: 0 20px 20px 20px;
}

.icon-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.project-icon {
    height: 25px;
    width: auto;
}

.project-git {
    font-size: 20px;
}

.project-title {
    font-size: 20px;
    margin: 5px 0px;
}

/* later */


.contact-icon {
    height: 300px;
    width: auto;
}

.contact-img {
    max-width: 300px;
}