/* Body and variables */
:root {
    --main-color: rgb(46, 117, 150);
    --gray-text: rgb(31, 31, 31);
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: clip;
    margin: 0;
    width: 100vw;
}


/* Header styling */
header {
    padding: 50px 100px;
    background-image: linear-gradient(168deg,var(--main-color) 0%, var(--main-color) 60.5%, rgba(255, 255, 255, 1) 61%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
}

.header-wrapper {
    position: relative;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    max-width: 550px;
    height: auto;
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
    flex: 1 1 0px;
    object-fit: cover;
    float: left;
    shape-outside: square;
}

.profile-name {
    position: absolute;
    bottom: 0;
    left: 7%;
    margin: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.about-wrapper {
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
    padding: 30px;
    background-color: white;
    flex: 1 1 0px;
    min-width: 500px;
}

.about-title {
    margin-top: 0;
}

.title {
    font-size: 40px;
}

.about-text {
    font-size: 20px;
    color: var(--gray-text);
    margin-bottom: 40px;
}

.about-icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}


/* Main Styling */
main {
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.main-wrapper {
    max-width: 1200px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    min-width: 300px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49);
    flex: 1 1 0px;
}

.project-screenshot {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.card-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.project-description {
    padding: 0 20px 20px 20px;
}

.icon-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.project-icon {
    height: 25px;
    width: auto;
}

.project-git {
    font-size: 20px;
}

.project-title {
    font-size: 20px;
    margin: 5px 0px;
}

/* Footer styling */
footer {
    background-color: var(--main-color);
    padding: 0px 100px;
}

.footer-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    padding: 50px 0px;
    justify-content: space-between;
    gap: 50px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.contact-icon {
    height: 35px;
    width: auto;
    margin-right: 10px;
    filter: invert(100%) sepia(92%) saturate(710%) hue-rotate(262deg) brightness(122%) contrast(108%);
}

.contact-title, .contact-text {
    color: white;
}

.contact-title {
    margin-top: 0;
}

.contact-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 0;
}

.contact-icon-wrapper {
    display: flex;
    gap: 30px;
    font-size: 40px;
    margin-top: 20px;
}

.contact-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    flex: 1 1 auto;
}

@media (max-width: 1160px) {
    .contact-img {
        max-width: 300px;
    }
}

@media (max-width: 830px) {
    .footer-wrapper {
        flex-wrap: wrap;
    }

    .contact-img {
        max-width: 800px;
    }
}