/* Body and variables */
:root {
    --main-color: rgb(46, 117, 150);
    --gray-text: rgb(31, 31, 31);
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: clip;
    margin: 0;
    width: 100vw;
}


/* Header styling */
header {
    position: relative;
    background-image: linear-gradient(168deg,var(--main-color) 0%, var(--main-color) 60.5%, rgba(255, 255, 255, 1) 61%, rgba(255, 255, 255, 1) 100%);
    margin: auto;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.profile-wrapper {
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
    position: relative;
    overflow: hidden;
}

.profile {
    width: 500px;
    height: auto;
    display: block;
}

.profile-wrapper::after {
    content: "";
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
}

.profile-name-desktop {
    position: absolute;
    bottom: 0%;
    left: 10%;
    margin: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    z-index: 10;
}

.profile-name-tablet {
    display: none;
}

.about-wrapper {
    -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.49);
    padding: 30px;
    background-color: white;
    width: min(100vw - 40px, 600px);
}

.about-title {
    margin-top: 0;
}

.title {
    font-size: 40px;
}

.about-text {
    font-size: 20px;
    color: var(--gray-text);
    margin-bottom: 40px;
}

.about-icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}


/* Main Styling */
main {
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.main-wrapper {
    max-width: 1200px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    min-width: 300px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.49);
    flex: 1 1 0px;
}

.project-screenshot {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.project-description {
    padding: 0 20px 20px 20px;
}

.icon-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.project-icon {
    height: 25px;
    width: auto;
}

.project-git {
    font-size: 20px;
}

.project-title {
    font-size: 20px;
    margin: 5px 0px;
}

/* Footer styling */
footer {
    background-color: var(--main-color);
    padding: 0px 100px;
}

.footer-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    padding: 50px 0px;
    justify-content: space-between;
    gap: 50px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.contact-icon {
    height: 35px;
    width: auto;
    margin-right: 10px;
    filter: invert(100%) sepia(92%) saturate(710%) hue-rotate(262deg) brightness(122%) contrast(108%);
}

.contact-title, .contact-text {
    color: white;
}

.contact-title {
    margin-top: 0;
}

.contact-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 0;
}

.contact-icon-wrapper {
    display: flex;
    gap: 30px;
    font-size: 40px;
    margin-top: 20px;
}

.contact-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    flex: 1 1 auto;
}

/* Responsiveness */ 

@media (max-width: 1160px) {
    .header-wrapper {
        display: block;
    }

    .profile-wrapper {
        width: 300px;
        height: 400px;
        float: left;
        margin-right: 2rem;
    }

    .about-wrapper {
        margin: auto;
        margin-top: 60px;
        width: min(100vw - 200px, 850px);
    }

    .contact-img {
        max-width: 300px;
    }

    .profile {
        transform: translateX(-25%);
    }

    .profile-name-tablet {
        display: block;
        position: absolute;
        top: 2%;
        left: 30%;
        font-size: 60px;
        color: rgb(255, 255, 255);
        z-index: 10;
        font-size: 50px;
    }

    .profile-name-desktop {
        display: none;
    }

    main {
        padding: 0px 70px;
    }
}

@media (max-width: 830px) {

    .header-wrapper {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .about-wrapper {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        width: min(100vw - 50px, 800px);
    }

    .profile-wrapper {
        width: fit-content;
        height: fit-content;
        float: none;
        margin-right: 0;
    }

    .profile-wrapper::after {
        display: none;
    }

    .profile {
        transform: translateX(0);
        width: min(100vw - 50px, 500px);
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .contact-img {
        width: min(100vw - 50px, 800px);
        max-width: 800px;
    }

    footer {
        padding: 0px 25px;
    }
    
    .profile-name-tablet {
        display: none;
    }

    .profile-name-desktop {
        display: block;
        position: absolute;
        bottom: 0%;
        left: 20%;
        margin: 0;
        font-size: 60px;
        color: rgb(255, 255, 255);
        z-index: 10;
    }

}

@media (max-width: 680px) {

    main {
        padding: 0px 25px;
    }

    .profile-name-desktop {
        font-size: 40px;
        left: 25%;
    }
}

@media (max-width: 420px) {

    .profile-name-desktop {
        font-size: 30px;
    }

    .contact-title {
        font-size: 30px;
    }

    .contact-text {
        font-size: 16px;
    }
}